[submodule "iroha-project/singlenode-network/iroha"]
	path = iroha-project/singlenode-network/iroha
	url = https://github.com/hyperledger/iroha
[submodule "prolog-docker/setup/jupyter-swi-prolog"]
	path = prolog-docker/setup/jupyter-swi-prolog
	url = https://github.com/veracitylab/jupyter-swi-prolog
